<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.devmanager.startup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/wendy/AllProject/DevManager/start-all.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>WorkingDirectory</key>
    <string>/Users/wendy/AllProject/DevManager</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/wendy/.local/bin</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/wendy/AllProject/DevManager/launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/wendy/AllProject/DevManager/launchd-error.log</string>
</dict>
</plist>
